@page "/masked-input"
@using System.Globalization
@inject IJSRuntime jsRuntime

<h3 class="mb-4">Masked Input Example</h3>

<div class="input-container">
    <label for="customInput">Custom Input:</label>
    <input required type="text" id="maskedInput" class="form-control" />
    
</div>



<style>
    .input-container {
        display: flex;
        align-items: center;
    }

    #customInput {
        flex: 1;
    }
</style>

@code {
    private ElementReference customInput;
    private List<DateTime> addedDates = new List<DateTime>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("applyMask", "maskedInput", "Y-m-d ");
        }
    }

    
}
